.env
.cursorrules
.DS_Store

# Ignore everything in sample_drive
sample_drive/**/*

# But keep the directories and their structure
!sample_drive/**/
!sample_drive/**/.gitkeep
!sample_drive/**/*.json

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
